@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html {
  cursor: crosshair !important;
}

html a,
html button {
  cursor: cell !important;
}

@layer base {
  @font-face {
    font-family: RagBold;
    font-weight: 800;
    src: url(/fonts/Rag-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: RagRegular;
    font-weight: 800;
    src: url(/fonts/Rag-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: HN;
    font-weight: 600;
    src: url(/fonts/HN-md.woff2) format("woff2");
  }
}
